@keyframes pageLoad {
	from {opacity:0; position:relative; top:100px;}
	to {opacity:1;position:relative; top:0px;}
}
@keyframes videofade{
	from {opacity:0;}
	to {opacity:1;}
}
.pageTitle{
	font-family:Arial;
	text-align:center;
	font-size:150px;
	animation-name: pageLoad;
	animation-duration: 1s;
}
.goAway{
	font-family:Arial;
	text-align:center;
	font-size:50px;
	animation-name: pageLoad;
	animation-duration: 2s;
}
body{
	color:white;
	background-color:black;
	cursor: url("cursor.png"), auto;
	}
.content{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	}
#videoBG {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  animation-name: videofade;
  animation-duration: 2s;
}
